#page-local-userequipment-index #id_bheader .fitem,
#page-local-userequipment-index #id_qheader .fitem,
#page-local-userequipment-index #id_mheader .fitem,
#page-local-userequipment-template #id_bheader .fitem,
#page-local-userequipment-template #id_qheader .fitem,
#page-local-userequipment-template #id_mheader .fitem {
    clear: none;
    float: left;
    margin-bottom:3px;
    margin-left:10px;
    width: 23%;
}

#page-local-userequipment-index #id_bheader .fitem .felement,
#page-local-userequipment-index #id_qheader .fitem .felement,
#page-local-userequipment-index #id_mheader .fitem .felement,
#page-local-userequipment-template #id_bheader .fitem .felement,
#page-local-userequipment-template #id_qheader .fitem .felement,
#page-local-userequipment-template #id_mheader .fitem .felement {
    display:block;
}

#page-local-userequipment-index #id_bheader fieldset.fgroup,
#page-local-userequipment-index #id_qheader fieldset.fgroup,
#page-local-userequipment-index #id_mheader fieldset.fgroup,
#page-local-userequipment-template #id_bheader fieldset.fgroup,
#page-local-userequipment-template #id_qheader fieldset.fgroup,
#page-local-userequipment-template #id_mheader fieldset.fgroup {
    clear: left;
    margin-left: 0;
    margin: 0 0 1em;
    text-align: left;
    width: 100%;
}

#page-local-userequipment-index #id_bheader fieldset.fgroup > span,
#page-local-userequipment-index #id_qheader fieldset.fgroup > span,
#page-local-userequipment-index #id_mheader fieldset.fgroup > span,
#page-local-userequipment-template #id_bheader fieldset.fgroup > span,
#page-local-userequipment-template #id_qheader fieldset.fgroup > span,
#page-local-userequipment-template #id_mheader fieldset.fgroup > span {
    clear: left;
    float: left;
    line-height: 1.7;
}

[data-tooltip] {
    cursor: help;
    display: inline-block;
    padding: 4px;
    position: relative;
}

/* Tooltip styling */
[data-tooltip]:before {
    background: #7E8BBE;
    border-radius: 5px;
    color: #fff;
    content: attr(data-tooltip);
    display: none;
    line-height: 1.4;
    min-width: 280px;
    padding: 8px 8px;
    position: absolute;
    text-align: center;
}

[data-tooltip].activity:before {
    min-width: 380px;
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
    transform: translateX(-50%);
}

/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    transform: translateY(-50%);
}

[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}

[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}

[data-tooltip-position="bottom"]:before {
    margin-top: 6px;
    top: 100%;
}

[data-tooltip-position="left"]:before {
    margin-right: 6px;
    right: 100%;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    border-color: transparent;
    border-style: solid;
    content: '';
    display: none;
    height: 0;
    position: absolute;
    width: 0;
}

/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}

/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    margin-top: -6px;
    top: 50%;
}

[data-tooltip-position="top"]:after {
    border-top-color: #000;
    border-width: 6px 6px 0;
    bottom: 100%;
}

[data-tooltip-position="right"]:after {
    border-right-color: #000;
    border-width: 6px 6px 6px 0;
    left: 100%;
}

[data-tooltip-position="bottom"]:after {
    border-bottom-color: #000;
    border-width: 0 6px 6px;
    top: 100%;
}

[data-tooltip-position="left"]:after {
    border-left-color: #000;
    border-width: 6px 0 6px 6px;
    right: 100%;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

userequipment-half-column {
    width: 50%;
}