<!-- local_userequipment/activitieschooser -->

<div id="userequipment-activitychooser" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:1050">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="activitychooser">
                <div class="filter-section">
                    <h6 class="filter-main-title">{{#str}}activityfilters, local_userequipment{{/str}}</h6>

                    <div type="button" class="filter filternone" data-category="0">
                        <h6 class="filter-title"> {{#str}}all, local_userequipment{{/str}} </h6>
                        <div class="filter-bar" style="background-color:{{colour}};"></div>
                    </div>

                    {{#filters}}
                    <div type="button" class="filter" data-category="{{id}}">
                        <h6 class="filter-title"> {{name}} </h6>
                        <div class="filter-bar" style="background-color:{{colour}};"></div>
                    </div>
                    {{/filters}}

                </div>
                <div class="main-section">
                    <h5 class="modal-title">{{#str}}activitieschooser, local_userequipment{{/str}}</h5>
                    <button type="button" class="selector-close-btn" data-dismiss="modal" aria-label="{{#str}}cancel{{/str}}">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="activities-section">
                        <!-- <h3 class="activities-title">{{#str}}activities, local_userequipment{{/str}}</h3> -->
                        <div class="activities-container">
                            {{#plugins}}
                            <div class="activity-element {{catclasses}}">
                                <div role="button"
                                     class="activity-info openhelp"
                                     title="{{name}}"
                                     data-action="show-option-summary"
                                     data-value="{{modname}}"
                                     data-link="{{addmodurl}}">
                                        <i class="info fa fa-info fa-2x"></i>
                                </div>
                                <div class="activity-content" data-value="{{modname}}">
                                    <a class="add-module-link" href="{{{addmodurl}}}">
                                        <div class="activity-name">
                                            <div class="activity-icon">{{{image}}}</div>
                                            <h6 class="activity-title">{{name}}</h6>
                                        </div>
                                    </a>
                                <div class="activity-categories">
                                    {{#categories}}
                                        <div class="category-bar {{classes}}" style="background-color: {{colour}}"
                                             alt="{{name}}" title="{{name}}" id="{{pluginname}}-{{id}}"></div>
                                    {{/categories}}
                                    </div>
                                </div>
                            </div>
                            {{/plugins}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item m-auto" data-region="help">{{> local_userequipment/help }}</div>
            </div>
        </div>
    </div>
</div>
<!-- /local_userequipment/activitieschooser -->