<!-- local_userequipment/editcatpng -->

<div id="catpng-edit-form" class="modal fade" tabindex="-1" aria-labelledby="catpng-edit-formLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{#str}}catpng, userequipment{{/str}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}cancel{{/str}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="catpng-edit-inner-form"></div>
      <div class="modal-footer">
        <button id="modal-status-save" data-issue="" type="button" class="btn btn-primary">{{#str}}update{{/str}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}cancel{{/str}}</button>
      </div>
    </div>
  </div>
</div>

<!-- /local_userequipment/editcatpng -->