<!-- local_userequipment/pluginlist -->

{{#username}}
<div class="profile-user">
    {{#str}}user{{/str}}: {{username}}
</div>
{{/username}}

<ul>
{{#queried}}
    <li>{{#str}}seeresultsfor, local_userequipment{{/str}} <a href="{{{pluginurl}}}">{{pluginname}}</a></li>
{{/queried}}
</ul>

<!-- /local_userequipment/pluginlist -->