<!-- local_userequipment/plugin_categories -->

<div class="pluginècatset">
{{#categories}}
    <div class="plugin_binding" style="background-color: {{colour}}" alt="{{categoryname}}">
    </div>
{{categories}}
</div>

<!-- /local_userequipment/plugin_categories -->
